<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp</title>
  </head>

  <body>

    <% include partials/_header %>

    <main style="  padding: 100px; background-color:darkorange">
      <h2 style="margin-bottom: 20px"><b>Let's</b> get started!</h2>
      <h5 style="margin-bottom: 2em">Please login below.</h5>
      <form action="/login" method="POST">
        <div class="form-group mb-2">
          <label for="login" style="margin-top: 1em; font-size: 20px" ><b>user</b>Email:</label>
          <input class="form-control" style="width: 300px; " type="loginemail" name="loginemail" placeholder="Enter your email here">
          <label for="login" style="margin-top: 1em; font-size: 20px"><b>pass</b>Word:</label>
          <input class="form-control" type="password" name="loginpassword" style="width: 300px;" placeholder="Enter your password here">
          <button type="submit" style="margin-top: 2em; width: 7em" class="btn btn-primary">Login</button>
        </div>
      </form>
      
    </main>
      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>